


a{
    text-decoration: none;
    position: relative;
    color: black;

    &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #dbcd09ad ;
    opacity: 50%;
    color: white;
    transition: width 0.3s ease-in-out;
    }

    &:hover::after {
    width: 100%;
    }
}   