<head>
    
</head>
<app-navbar></app-navbar>
<div class="c-container d-flex flex-column align-items-center mt-5" id="profil">
    <app-profile-img [size]=300></app-profile-img>
    <p class="fs-2 fw-bold mt-2">Bienvenue sur mon portfolio !</p>
    <p class="fs-3 ">Je suis <span class="text-green fw-bolder bg-dark p-1">Jorian G.</span>, un jeune développeur passionné de nouvelle technologies.</p>
    <p class="fs-3">Découvrez mes derniers projets, mes compétences et contactez-moi !.</p>
</div>
<div class="c-container container-fluid d-flex flex-column  mt-5 bg-dark-blue y-2" id="competence">
    <h2 class="text-left text-green fw-bold font-title fw-800 m-3">Mes derniers projets</h2>
    <div class="d-flex flex-row">
        <div class="col-4">
            <app-project-card [title]="'Participation au projet Open Source Elaastic'" [image]="'https://elaastic.irit.fr/images/elaastic_logo_rvb.png'" [githubLink]="'https://github.com/elaastic'"></app-project-card>
        </div>
        <div class="col-4">
            <app-project-card [title]="'Participation au projet Open Source Elaastic'" [image]="'https://elaastic.irit.fr/images/elaastic_logo_rvb.png'" [githubLink]="'https://github.com/elaastic'"></app-project-card>
        </div>
        <div class="col-4">
            <app-project-card [title]="'Participation au projet Open Source Elaastic'" [image]="'https://elaastic.irit.fr/images/elaastic_logo_rvb.png'" [githubLink]="'https://github.com/elaastic'"></app-project-card>
        </div>

    </div>

</div>

<div class="c-container container-fluid d-flex flex-column  mt-5 y-2" id="competence">
    <h2 class="text-left text-dark-blue fw-bold font-title fw-800 m-3">Mon parcours</h2>
    <app-timeline></app-timeline>

</div>

<div class="c-container container-fluid d-flex flex-column bg-dark-blue mt-5 y-2" id="competence">
    <h2 class="text-left text-green fw-bold font-title fw-800 m-3">Mes projets</h2>
    <div class="col-12 row">
        <div class="col-4">
            <app-project-card 
                [title]="'Participation à la mainteance du projet Open Source Elaastic'" 
                [image]="'https://elaastic.irit.fr/images/elaastic_logo_rvb.png'" 
                [githubLink]="'https://github.com/elaastic'"
                [content]="'Dans le cadre du but participation à la mainteance et à l\'évolution du projet d\'application éducative Open Source Elaastic.'"
                [languages]="'<i class=&quot;devicon-spring-original-wordmark colored&quot;></i>'"
            > 
                <!-- <app-link-competence [toggleAccordion]="toggleAccordion"></app-link-competence> -->
                <a>
                    <app-badge-conpetence [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'" [size]="'slim'" class="stretched-link"></app-badge-conpetence>
                </a>
                <a>
                    <app-badge-conpetence [textContent]="'Optimiser'" [bgColor]="'#ed8b51'" [icon]="'pi pi-calculator'" [size]="'slim'" class="stretched-link"></app-badge-conpetence>
                </a>
                <a>
                    <app-badge-conpetence [textContent]="'Collaborer'" [bgColor]="'#0f0f0f'" [icon]="'pi pi-users'" [size]="'slim'" class="stretched-link"></app-badge-conpetence>
                </a>
                <br>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original-wordmark.svg" style="height: 48px;"/>
                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-plain.svg" style="height: 32px;" />
                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" style="height: 32px; ;"/>
                <span class="mx-1"></span>
          
          
            </app-project-card>
        </div>
        <div class="col-4">
            <app-project-card 
            [title]="'Création d\'une application de gestion de cabinet médical'" 
            [image]="'https://www.girodmedical.com/blog/wp-content/uploads/2016/07/medecin-min.jpg'" 
            [githubLink]="'https://github.com/JorianG/ProjetPHP?tab=readme-ov-file'"
            [content]="'Application web de gestion d\'un cabinet médical comprennant la gestion des information des patiens, des médecins et des rendez-vous avec vérification de disponibilitées. Initiation aux concepts d\' API en PHP.'"
            >
                <!-- <app-link-competence [toggleAccordion]="toggleAccordion"></app-link-competence> -->
                <a>
                    <app-badge-conpetence [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'" [size]="'slim'" class="stretched-link"></app-badge-conpetence>
                </a>
                <a>
                    <app-badge-conpetence [textContent]="'Administrer'" [bgColor]="'#efbb11'" [icon]="'pi pi-sitemap'" [size]="'slim'" class="stretched-link"></app-badge-conpetence>
                </a>
                <br>

                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg" style="height: 32px;"/>
                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original-wordmark.svg" style="height: 64px;"/>
          
          
                <span class="mx-1"></span>

            </app-project-card>
        </div>
        <div class="col-4">
            <app-project-card 
            [title]="'Création d\'une application de gestion d\'un tournoi Esport'" 
            [image]="'https://afjv.com/2018/01/180104-esport.jpg'" 
            [githubLink]="'https://github.com/JorianG/ESM'"
            [content]="'Application locale permettant la gestion d\'une saison d\'une ligue d\'esport comprenant la gestion des équipes et de leurs effectifs, la gestion des joueurs et de leur carrière ainsi que la gestion des matchs et tournois. Projet réalisé en méthode agile'"
            >
                <!-- <app-link-competence [toggleAccordion]="toggleAccordion"></app-link-competence> -->
                <a>
                    <app-badge-conpetence [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'" [size]="'slim'" class="stretched-link"></app-badge-conpetence>
                </a>
                <a>
                    <app-badge-conpetence [textContent]="'Collaborer'" [bgColor]="'#0f0f0f'" [icon]="'pi pi-users'" [size]="'slim'" class="stretched-link"></app-badge-conpetence>
                </a>

                <a>
                    <app-badge-conpetence [textContent]="'Conduire'" [bgColor]="'#09225c'" [icon]="'pi pi-ticket'" [size]="'slim'" class="stretched-link"></app-badge-conpetence>
                </a>
                

                <br>

                
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" style="height: 32px;" data-bs-toggle="tooltip" data-bs-placement="top" title="Java Icon Tooltip" class="tooltip-enabled"/>
                
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg" style="height: 32px;" data-bs-toggle="tooltip" data-bs-placement="top" title="SQLite Icon Tooltip" class="tooltip-enabled"/>
            </app-project-card>
        </div>


    </div>
</div>

<div class="c-container container-fluid d-flex flex-column mt-5 y-2" id="competenceAccordion">
    <h2 class="text-left text-dark-blue fw-bold font-title fw-800 m-3">Mes compétences</h2>

    <div class="container-fluid px-5">
        <p-accordion [(value)]="active">
            <p-accordion-panel [value]="1">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Adaptation d'applications sur différentes plateformes (embarquée, web, mobile, IoT…)
                    </p>
                        <ul>
                            <li>Implémenter des architectures logicielles adaptées aux besoins spécifiques de chaque projet.</li>
                            <li>Étudier et mettre en œuvre de nouvelles technologies pour améliorer les performances et la sécurité.</li>
                            <li>Intégrer des solutions existantes pour répondre aux exigences fonctionnelles et non fonctionnelles.</li>
                        </ul>
                    
                    
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="2">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Optimiser'" [bgColor]="'#ed8b51'" [icon]="'pi pi-calculator'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Analyser et optimiser les applications
                    </p>
                    <ul>
                        <li>Analyser et optimiser les applications - Anticiper les résultats de diverses métriques (temps d'exécution, occupation mémoire, montée en charge...)</li>
                        <li>Profiler, analyser et justifier le comportement d'un code existant - Choisir et utiliser des bibliothèques appropriées pour un projet d'application (imagerie, immersion, intelligence artificielle, jeux vidéos, parallélisme, calcul formel...)</li>
                        <li>Choisir et utiliser des bibliothèques appropriées pour un projet d'application (imagerie, immersion, intelligence artificielle, jeux vidéos, parallélisme, calcul formel...)</li>
                    </ul>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="3">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Administrer'" [bgColor]="'#efbb11'" [icon]="'pi pi-sitemap'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Déployer des services dans une architecture cloud native
                    </p>
                    <ul>
                        <li>Concevoir et implémenter des applications communiquant avec des services cloud</li>
                        <li>Utiliser des services de cloud pour déployer des applications scalables et sécurisées</li>
                        <li>Sécuriser les services déployés dans le cloud en appliquant les meilleures pratiques de sécurité système</li>
                    </ul>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="4">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Gérer'" [bgColor]="'#8bc850'" [icon]="'pi pi-database'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Optimiser et baser sur des données, interagir avec une application et mettre en œuvre la sécurité
                    </p>
                    <ul>
                        <li>Optimiser et baser sur des données, interagir avec une application et mettre en œuvre la sécurité</li>
                        <li>Optimiser le modèle de données, assurer la sécurité des données (intégrité et confidentialité)</li>
                        <li>Assurer la sécurité des données (intégrité et confidentialité)</li>
                        <li>Organiser la restitution et la visualisation des données pour une meilleure compréhension et une prise de décision éclairée</li>
                    </ul>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="5">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Conduire'" [bgColor]="'#09225c'" [icon]="'pi pi-ticket'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Appliquer une démarche de suivi de projet en fonction des besoins métiers des clients et des utilisateurs
                    </p>
                    <ul>
                        <li>Identifier les processus présents dans une organisation en vue d'améliorer les systèmes d'information</li>
                        <li>Formaliser les besoins du client et de l'utilisateur</li>
                        <li>Identifier les critères de faisabilité d'un projet informatique</li>
                        <li>Définir et mettre en œuvre une démarche de suivi de projet</li>
                    </ul>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="6">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Collaborer'" [bgColor]="'#0f0f0f'" [icon]="'pi pi-users'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Manager une équipe informatique
                    </p>
                    <ul>
                        <li>Organiser et participer à la veille technologique et informatique</li>
                        <li>Identifier les enjeux de l'économie de l'innovation numérique</li>
                        <li>Guider la conduite du changement informatique au sein d'une organisation</li>
                        <li>Accompagner le management de projet informatique</li>
                    </ul>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
</div>

<div class="c-container container-fluid d-flex flex-column mt-5 y-2" id="competence">
    <h2 class="text-left text-dark-bluefw-bold font-title fw-800 m-3">Mes contacts</h2>
    <div class="container-fluid px-5">
        
    </div>
</div>