<head>
    
</head>
<app-navbar></app-navbar>
<div class="c-container d-flex flex-column align-items-center mt-5" id="profil">
    <app-profile-img [size]=300></app-profile-img>
    <p class="fs-2 fw-bold mt-2">Bienvenue sur mon portfolio !</p>
    <p class="fs-3 ">Je suis <span class=" fw-bolder  p-1">Jorian Gouagout</span>, un jeune développeur passionné de nouvelles technologies.</p>
    <p class="fs-3">Découvrez mes derniers projets, mes compétences et contactez-moi !.</p>
</div>
<!-- <div class="c-container container-fluid d-flex flex-column  mt-5 bg-dark-blue y-2" id="competence">
    <h2 class="text-left text-green fw-bold font-title fw-800 m-3">Mes derniers projets</h2>
    <div class="d-flex flex-row">
        <div class="col-4">
            <app-project-card [title]="'Participation au projet Open Source Elaastic'" [image]="'https://elaastic.irit.fr/images/elaastic_logo_rvb.png'" [githubLink]="'https://github.com/elaastic'"></app-project-card>
        </div>
        <div class="col-4">
            <app-project-card [title]="'Participation au projet Open Source Elaastic'" [image]="'https://elaastic.irit.fr/images/elaastic_logo_rvb.png'" [githubLink]="'https://github.com/elaastic'"></app-project-card>
        </div>
        <div class="col-4">
            <app-project-card [title]="'Participation au projet Open Source Elaastic'" [image]="'https://elaastic.irit.fr/images/elaastic_logo_rvb.png'" [githubLink]="'https://github.com/elaastic'"></app-project-card>
        </div>

    </div>

</div> -->


<div class="c-container container-fluid d-flex flex-column mt-5 y-2" id="parcours">
    <h2 class="text-left text-dark-blue fw-bold font-title fw-800 m-3">Mes diplômes et expériences</h2>
    <div class="container-fluid px-5 mx-4">
        <div class="row">
            <div class="col-5">
                <h3 class="text-dark-blue mb-4">Formation</h3>
                <ul class="fs-4">
                    <li class="d-block">
                        <div class="card  shadow-sm mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-center">
                                    <img src="https://iut.univ-tlse3.fr/uas/iut/LOGO/Logo_IUT_ACT_couleurs.png" alt="BUT Logo" style="width: 128px;" class="me-3">
                                    <div>
                                        <h4 class="card-title fw-bolder">BUT Informatique</h4>
                                        <p class="card-text fs-5 ms-1 text-muted">Université Paul Sabatier, Toulouse (2022 - 2025)</p>
                                        <p class="fs-6 ms-2 text-secondary">Parcours Réalisation d'applications : conception, développement, validation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                    </li>
                    <li class="d-block">
                        <div class="card  shadow-sm mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-center">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXr-cnA4wHgt51lO_a_9SONDyiZE4Zkffg0A&s" alt="Lycée logo" style="width: 128px;" class="me-3">
                                    <div>
                                        <h4 class="card-title fw-bolder">Baccalauréat</h4>
                                        <p class="card-text fs-5 ms-1 text-muted">Lycée Philipe Lamour, Nîmes ( 2019-2022) </p>
                                        <p class="fs-6 ms-2 text-secondary">Section Européenne - Spécialité Mathématique & NSI - Mention Bien</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                    </li>

                </ul>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <h3 class="text-dark-blue mb-4">Expérience professionnelle</h3>
                <ul class="fs-4">
                    <li class="d-block">
                        <div class="card  shadow-sm mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-center">
                                    <img src="https://www.solutions-ressources-humaines.com/logo/3bd9c1aad94799asigma-bleu-horizontal.png" alt="Master Logo" style="width: 128px;" class="me-3">
                                    <div>
                                        <h4 class="card-title fw-bold">Alternance développeur junior</h4>
                                        <p class="card-text fs-5 ms-1 text-muted">Sigma Informatique - Labége (juillet 2024 - aout 2025)</p>
                                        <p class="fs-6 ms-2 text-secondary">Participation à la transformation Agile de l'équipe. Participation au désendettement technique de l'application Diaginfo. Développement en PHP Symfony. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                    </li>
                    <li class="d-block">
                        <div class="card  shadow-sm mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-center">
                                    <img src="https://www.solutions-ressources-humaines.com/logo/3bd9c1aad94799asigma-bleu-horizontal.png" alt="Master Logo" style="width: 128px;" class="me-3">
                                    <div>
                                        <h4 class="card-title fw-bold">Stage développeur</h4>
                                        <p class="card-text fs-5 ms-1 text-muted">Sigma Informatique - Labége (mars 2024 - juin 2024)</p>
                                        <p class="fs-6 ms-2 text-secondary">Intégration dans un contexte professionnel. Participation au développement de fonctionnalités CMS pour l'application Sizam avec le framework PHP Symfony. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- <div class="c-container container-fluid d-flex flex-column  m</li>t-5 y-2" id="competence">
    <h2 class="text-left text-dark-blue fw-bold font-title fw-800 m-3">Mon parcours</h2>
    <app-timeline></app-timeline>

</div> -->

<div class="c-container container-fluid d-flex flex-column bg-dark-blue mt-5 y-2" id="projets">
    <h2 class="text-left text-green fw-bold font-title fw-800 m-3">Mes projets</h2>
    <div class="col-12 row">
        <div class="col-4"id="elaastic">
            <app-project-card 
                [title]="'Participation à la mainteance du projet Open Source Elaastic'" 
                [image]="'https://elaastic.irit.fr/images/elaastic_logo_rvb.png'" 
                [githubLink]="'https://github.com/elaastic'"
                [content]="'Dans le cadre du BUT, participation à la mainteance et à l\'évolution du projet d\'application éducative Open Source Elaastic.'"
                [languages]="'<i class=&quot;devicon-spring-original-wordmark colored&quot;></i>'"
                [badges]="''"

            > 
                <!-- <app-link-competence [toggleAccordion]="toggleAccordion"></app-link-competence> -->
   
                    <app-badge-conpetence (click)="toggleAccordion(1)" [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'" [size]="'slim'" class=""></app-badge-conpetence>
       

                    <app-badge-conpetence (click)="toggleAccordion(2)" [textContent]="'Optimiser'" [bgColor]="'#ed8b51'" [icon]="'pi pi-calculator'" [size]="'slim'" class=""></app-badge-conpetence>
     
     
                    <app-badge-conpetence (click)="toggleAccordion(6)" [textContent]="'Collaborer'" [bgColor]="'#0f0f0f'" [icon]="'pi pi-users'" [size]="'slim'" class=""></app-badge-conpetence>
  
                <br>
                <div class="d-flex flex-row mt-2 align-items-center">
                    <span class="me-2 fw-bold">Technologies utilisées : </span>
                    <app-icon-language class="me-2" [languageName]="'Java SpringBoot'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original-wordmark.svg'"></app-icon-language>
                    <app-icon-language class="me-2" [languageName]="'Kotlin'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-plain.svg'"></app-icon-language>
                    <app-icon-language class="me-2" [languageName]="'GitHub'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg'"></app-icon-language>
                    <span class="mx-1"></span>
                </div>
          
          
            </app-project-card> 
        </div>
        <div class="col-4" id="medical">
            <app-project-card 
            [title]="'Création d\'une application de gestion de cabinet médical'" 
            [image]="'https://www.girodmedical.com/blog/wp-content/uploads/2016/07/medecin-min.jpg'" 
            [githubLink]="'https://github.com/JorianG/ProjetPHP?tab=readme-ov-file'"
            [content]="'Application web de gestion d\'un cabinet médical comprennant la gestion des informations des patiens, des médecins et des rendez-vous avec vérification des disponibilitées. Initiation aux concepts d\' API en PHP.'"
            >
                <!-- <app-link-competence [toggleAccordion]="toggleAccordion"></app-link-competence> -->
                <a>
                    <app-badge-conpetence (click)="toggleAccordion(1)" [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'" [size]="'slim'" class=""></app-badge-conpetence>
                </a>
                <a>
                    <app-badge-conpetence (click)="toggleAccordion(3)" [textContent]="'Administrer'" [bgColor]="'#efbb11'" [icon]="'pi pi-sitemap'" [size]="'slim'" class="  "></app-badge-conpetence>
                </a>
                <br>
                <div class="d-flex flex-row mt-2 align-items-center">
                    <span class="me-2 fw-bold">Technologies utilisées : </span>
                    <app-icon-language class="me-2" [languageName]="'PHP'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg'"></app-icon-language>
                    <app-icon-language class="me-2" [languageName]="'Postman'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original-wordmark.svg'"></app-icon-language>
                    <span class="mx-1"></span>
                </div>
                
                <span class="mx-1"></span>

            </app-project-card>
        </div>
        <div class="col-4" id="esm">
            <app-project-card 
            [title]="'Création d\'une application de gestion d\'un tournoi Esport'" 
            [image]="'https://afjv.com/2018/01/180104-esport.jpg'" 
            [githubLink]="'https://github.com/JorianG/ESM'"
            [content]="'Application locale permettant la gestion d\'une saison d\'une ligue d\'esport comprenant la gestion des équipes et de leurs effectifs, la gestion des joueurs et de leur carrière ainsi que la gestion des matchs et tournois. Projet réalisé en méthode agile'"
            >
                <!-- <app-link-competence [toggleAccordion]="toggleAccordion"></app-link-competence> -->
                <a>
                    <app-badge-conpetence (click)="toggleAccordion(1)" [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'" [size]="'slim'" class=""></app-badge-conpetence>
                </a>
                <a>
                    <app-badge-conpetence (click)="toggleAccordion(6)" [textContent]="'Collaborer'" [bgColor]="'#0f0f0f'" [icon]="'pi pi-users'" [size]="'slim'" class=""></app-badge-conpetence>
                </a>

                <a>
                    <app-badge-conpetence (click)="toggleAccordion(5)" [textContent]="'Conduire'" [bgColor]="'#09225c'" [icon]="'pi pi-ticket'" [size]="'slim'" class=""></app-badge-conpetence>
                </a>
                

                <br>

                <div class="d-flex flex-row mt-2 align-items-center">
                    <span class="me-2 fw-bold">Technologies utilisées : </span>
                    <app-icon-language class="me-2" [languageName]="'Java'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg'"></app-icon-language>
                    <app-icon-language class="me-2" [languageName]="'SQLite'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg'"></app-icon-language>
                    <span class="mx-1"></span>
                </div>
            </app-project-card>
        </div>
        <div class="col-4" id="proxy">
            <app-project-card 
            [title]="'Proxy FTP en C'" 
            [image]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8HgJlNzWPNDNfXesaZskfd7lbbgccWgbJ6A&s'" 
            [githubLink]="'https://github.com/JorianG/ESM'"
            [content]="'Proxy local programmé en langage bas niveau C permettant de gérer les transferts de fichiers entre un serveur FTP et un client FTP par le biais d\'un serveur intermédiaire. '"
            >
                <!-- <app-link-competence [toggleAccordion]="toggleAccordion"></app-link-competence> -->
                    <app-badge-conpetence (click)="toggleAccordion(1)" [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'" [size]="'slim'" class=""></app-badge-conpetence>
                    <app-badge-conpetence (click)="toggleAccordion(3)" [textContent]="'Administrer'" [bgColor]="'#efbb11'" [icon]="'pi pi-sitemap'" [size]="'slim'" class=""></app-badge-conpetence>


                

                <br>

                <div class="d-flex flex-row mt-2 align-items-center">
                    <span class="me-2 fw-bold">Technologies utilisées : </span>
                    <app-icon-language class="me-2" [languageName]="'C'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg'"></app-icon-language>
                    <app-icon-language class="me-2" [languageName]="'FTP'" [iconPath]="'https://w7.pngwing.com/pngs/31/82/png-transparent-computer-icons-file-manager-computer-file-directory-documents-icon-angle-rectangle-black.png'"></app-icon-language>
                    <span class="mx-1"></span>
                </div>
            </app-project-card>
        </div>
        <div class="col-4" id="laravel">
            <app-project-card 
            [title]="'Application de gestion de notes'" 
            [image]="'https://www.louisvillecardinal.com/media/2022/11/Depositphotos_122104490_S.jpg'" 
            [githubLink]="'https://github.com/JorianG/ESM'"
            [content]="'Application web de gestion de notes en Laravel, permettant de gérer les notes, les élèves, les matières et les évaluations.'"
            >
                <!-- <app-link-competence [toggleAccordion]="toggleAccordion"></app-link-competence> -->
                    <app-badge-conpetence (click)="toggleAccordion(1)" [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'" [size]="'slim'" class=""></app-badge-conpetence>
                    <app-badge-conpetence (click)="toggleAccordion(3)" [textContent]="'Administrer'" [bgColor]="'#efbb11'" [icon]="'pi pi-sitemap'" [size]="'slim'" class=""></app-badge-conpetence>
                    <app-badge-conpetence (click)="toggleAccordion(4)" [textContent]="'Gérer'" [bgColor]="'#8bc850'" [icon]="'pi pi-database'" [size]="'slim'" class=""></app-badge-conpetence>
                    <app-badge-conpetence (click)="toggleAccordion(6)" [textContent]="'Collaborer'" [bgColor]="'#0f0f0f'" [icon]="'pi pi-users'" [size]="'slim'" class=""></app-badge-conpetence>


                

                <br>

                <div class="d-flex flex-row mt-2 align-items-center">
                    <span class="me-2 fw-bold">Technologies utilisées : </span>
                    <app-icon-language class="me-2" [languageName]="'Laravel'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg'"></app-icon-language>
                    <app-icon-language class="me-2" [languageName]="'PHP'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg'"></app-icon-language>
                    <span class="mx-1"></span>
                </div>
            </app-project-card>
        </div>
        <div class="col-4" id="portfolio">
            <app-project-card 
            [title]="'Portfolio'" 
            [image]="'https://cache.careers360.mobi/media/article_images/2022/4/20/How-to-make-portfolio-for-design-admission.jpg'" 
            [githubLink]="'https://github.com/JorianG/ESM'"
            [content]="'Portfolio réalisé en Angular, permettant de présenter mes projets, mes compétences et mes informations de contacts.'"
            >
                <!-- <app-link-competence [toggleAccordion]="toggleAccordion"></app-link-competence> -->
                    <app-badge-conpetence (click)="toggleAccordion(1)" [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'" [size]="'slim'" class=""></app-badge-conpetence>
                    

                

                <br>

                <div class="d-flex flex-row mt-2 align-items-center">
                    <span class="me-2 fw-bold">Technologies utilisées : </span>
                    <app-icon-language class="me-2" [languageName]="'Angular'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angularjs/angularjs-original.svg'"></app-icon-language>
                    <app-icon-language class="me-2" [languageName]="'TS'" [iconPath]="'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg'"></app-icon-language>
                    <span class="mx-1"></span>
                </div>
            </app-project-card>
        </div>


    </div>
</div>

<div class="c-container container-fluid d-flex flex-column mt-5 y-2" id="competenceAccordion">
    <h2 class="text-left text-dark-blue fw-bold font-title fw-800 m-3">Mes compétences</h2>

    <div class="container-fluid px-5">
        <p-accordion [(value)]="active">
            <p-accordion-panel [value]="1">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Développer'" [bgColor]="'#b80906'" [icon]="'pi pi-code'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Adaptation d'applications sur différentes plateformes (embarquée, web, mobile, IoT…)
                    </p>
                        <ul>
                            <li>Implémenter des architectures logicielles adaptées aux besoins spécifiques de chaque projet.</li>
                            <li>Étudier et mettre en œuvre de nouvelles technologies pour améliorer les performances et la sécurité.</li>
                            <li>Intégrer des solutions existantes pour répondre aux exigences fonctionnelles et non fonctionnelles.</li>
                        </ul>

                    <div class="d-flex flex-row mt-2 align-items-center">
                    <span class="me-2 fw-bold">Projets en relation</span>
                        <a href="#elaastic">
                            <p-tag  class="me-2" [value]="'Participation à la mainteance du projet Open Source Elaastic'" [severity]="'warn'"></p-tag>
                        </a>
                        <a href="#esm">
                            <p-tag  class="me-2" [value]="'Création d\'une application de gestion d\'un tournoi Esport'" [severity]="'danger'"></p-tag>
                        </a>
                </div>
                    
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="2">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Optimiser'" [bgColor]="'#ed8b51'" [icon]="'pi pi-calculator'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Analyser et optimiser les applications
                    </p>
                    <ul>
                        <li>Analyser et optimiser les applications - Anticiper les résultats de diverses métriques (temps d'exécution, occupation mémoire, montée en charge...)</li>
                        <li>Profiler, analyser et justifier le comportement d'un code existant - Choisir et utiliser des bibliothèques appropriées pour un projet d'application (imagerie, immersion, intelligence artificielle, jeux vidéos, parallélisme, calcul formel...)</li>
                        <li>Choisir et utiliser des bibliothèques appropriées pour un projet d'application (imagerie, immersion, intelligence artificielle, jeux vidéos, parallélisme, calcul formel...)</li>
                    </ul>
                    <div class="d-flex flex-row mt-2 align-items-center">
                        <span class="me-2 fw-bold">Projets en relation</span>
                            <a href="#elaastic">
                                <p-tag  class="me-2" [value]="'Participation à la mainteance du projet Open Source Elaastic'" [severity]="'warn'"></p-tag>
                            </a>
                    </div>
                        
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="3">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Administrer'" [bgColor]="'#efbb11'" [icon]="'pi pi-sitemap'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Déployer des services dans une architecture cloud native
                    </p>
                    <ul>
                        <li>Concevoir et implémenter des applications communiquant avec des services cloud</li>
                        <li>Utiliser des services de cloud pour déployer des applications scalables et sécurisées</li>
                        <li>Sécuriser les services déployés dans le cloud en appliquant les meilleures pratiques de sécurité système</li>
                    </ul>
                    <div class="d-flex flex-row mt-2 align-items-center">
                        <span class="me-2 fw-bold">Projets en relation</span>
                            <a href="#medical">
                                <p-tag  class="me-2" [value]="'Création d\'une application de gestion de cabinet médical'" [severity]="'info'"></p-tag>
                            </a>
                            <a href="#laravel">
                                <p-tag  class="me-2" [value]="'Application de gestion de notes'" [severity]="'warn'"></p-tag>
                            </a>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="4">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Gérer'" [bgColor]="'#8bc850'" [icon]="'pi pi-database'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Optimiser et baser sur des données, interagir avec une application et mettre en œuvre la sécurité
                    </p>
                    <ul>
                        <li>Optimiser et baser sur des données, interagir avec une application et mettre en œuvre la sécurité</li>
                        <li>Optimiser le modèle de données, assurer la sécurité des données (intégrité et confidentialité)</li>
                        <li>Assurer la sécurité des données (intégrité et confidentialité)</li>
                        <li>Organiser la restitution et la visualisation des données pour une meilleure compréhension et une prise de décision éclairée</li>
                    </ul>
                    <div class="d-flex flex-row mt-2 align-items-center">
                        <span class="me-2 fw-bold">Projets en relation</span>
                        <a href="#laravel">
                            <p-tag  class="me-2" [value]="'Application de gestion de notes'" [severity]="'warn'"></p-tag>
                        </a>
                    </div>
                        
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="5">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Conduire'" [bgColor]="'#09225c'" [icon]="'pi pi-ticket'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Appliquer une démarche de suivi de projet en fonction des besoins métiers des clients et des utilisateurs
                    </p>
                    <ul>
                        <li>Identifier les processus présents dans une organisation en vue d'améliorer les systèmes d'information</li>
                        <li>Formaliser les besoins du client et de l'utilisateur</li>
                        <li>Identifier les critères de faisabilité d'un projet informatique</li>
                        <li>Définir et mettre en œuvre une démarche de suivi de projet</li>
                    </ul>
                    <div class="d-flex flex-row mt-2 align-items-center">
                        <span class="me-2 fw-bold">Projets en relation</span>
                        <a href="#laravel">
                            <p-tag  class="me-2" [value]="'Création d\'une application de gestion d\'un tournoi Esport'" [severity]="'success'"></p-tag>
                        </a>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel [value]="6">
                <p-accordion-header>
                    <app-badge-conpetence [textContent]="'Collaborer'" [bgColor]="'#0f0f0f'" [icon]="'pi pi-users'"></app-badge-conpetence>
                </p-accordion-header>
                <p-accordion-content>
                    <p class="m-0 fw-bold">
                        Manager une équipe informatique
                    </p>
                    <ul>
                        <li>Organiser et participer à la veille technologique et informatique</li>
                        <li>Identifier les enjeux de l'économie de l'innovation numérique</li>
                        <li>Guider la conduite du changement informatique au sein d'une organisation</li>
                        <li>Accompagner le management de projet informatique</li>
                    </ul>
                    <div class="d-flex flex-row mt-2 align-items-center">
                        <span class="me-2 fw-bold">Projets en relation</span>
                        <a href="#esm ">
                            <p-tag  class="me-2" [value]="'Création d\'une application de gestion d\'un tournoi Esport'" [severity]="'success'"></p-tag>
                        </a>
                        <a href="#elaastic">
                            <p-tag  class="me-2" [value]="'Participation à la mainteance du projet Open Source Elaastic'" [severity]="'warn'"></p-tag>
                        </a>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>
</div>

<div class="c-container container-fluid d-flex flex-column mt-5 py-4 bg-dark-blue" id="contact">
    <h2 class="text-left text-green fw-bold font-title m-3">Me contacter</h2>
    <div class="container-fluid px-5">
        <ul class="list-unstyled d-flex justify-content-around text-light fs-4">
            <li>
                <a href="https://www.linkedin.com/in/jgouagout/" target="_blank">
                    <button type="button" class="btn btn-info btn-lg rounded-pill text-light">
                        <i class="pi pi-linkedin"></i> LinkedIn
                    </button>
                </a>
            </li>
            <li>
                <a href="https://github.com/JorianG" target="_blank">
                <button type="button" class="btn btn-secondary btn-lg rounded-pill">
                    <i class="pi pi-github"></i> GitHub
                </button>
                </a>
            </li>
            <li>
                <a href="mailto:joriangouagout1@gmail.com" target="_blank">
                <button type="button" class="btn btn-warning btn-lg rounded-pill text-light">
                    <i class="pi pi-envelope"></i> Email
                </button>
            </a>
            </li>
            <li>
                <a href="mailto:joriangouagout1@gmail.com" target="_blank">
                <button type="button" class="btn btn-info    btn-lg rounded-pill text-light">
                    <i class="pi pi-file"></i> Téléchargez mon CV
                </button>
            </a>
            </li>
        </ul>
    </div>
</div>
